footer {
    position: absolute;
    bottom: 0;
    z-index: 5;
}
.footer-svg {
    z-index: -1;
    position: absolute;
    bottom: 60%;
}
.footer-bg {
    background-color: var(--dark-violet);
}
.footer-sections {
    position: relative;
    padding: 30px 0;
    color: var(--background-color);
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
}
.footer-about {
    text-align: center;
    width: 30%;
}
.footer-about h2,
.footer-contact h2 {
    font-weight: 400;
}
.footer-about p,
.footer-contact p {
    font-size: 0.8rem;
    font-weight: 300;
}
.footer-contact {
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 30%;
}
.footer-contact a {
    font-size: 0.8rem;
    color: var(--primary-color);
}
.footer-contact a:hover {
    color: var(--background-color);
}
.author {
    padding: 5px 0;
    font-size: 0.8rem;
    color: var(--background-color);
    background-color: var(--dark-violet);
    text-align: center;
}
.author a {
    color: var(--primary-color);
}
.author a:hover {
    color: var(--background-color);
}
.author hr {
    border: none;
    background-color: var(--background-color);
    height: 1px;
    margin-bottom: 5px;
}