#displayed-dream-component {
    background: linear-gradient(to top right, var(--text-color), var(--violet));
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 999;
    color: white;
    text-align: center;
    padding:  30px 110px 30px 50px;
}
.title {
    font-size: 2rem;
}
.date {
    font-size: 0.9rem;
}
.description {
    margin-top: 20px;
    font-size: 1.2rem;
}
.tags-title {
    margin-top: 10px;
}
.displayed-tags {
    width: 60%;
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 0 auto;
}
.x {
    width: 30px;
    height: 30px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.x::before,
.x::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 4px;
    background-color: white;
}
.x::before {
    transform: rotate(45deg);
}
.x::after {
    transform: rotate(-45deg);
}
.x:hover {
    cursor: pointer;
}