/*https://coolors.co/231032-3b1c54-512673-7336a4-9a49dc-bd7aee-e3b2ff-eecfff-f0d3ff*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}
html {
    height: 100%;
}
body {
    min-height: 100%;
    margin-right: 60px;
}
#root {
    min-height: 100vh;
    height: 100%;
    position: relative;
}
:root {
    --background-color: #E8EBF4;
    --text-color: #231032;
    --primary-color: #BD7AEE;
    --dark-violet: #3B1C54;
    --violet: #512673;
    --purple: #7336A4;
    --light-purple: #9A49DC;
    --secondary-color: #CF631F;
    --accent-color: #D5A8D7;
}
#footer {
    display: block;
    height: 220px;
    width: 100%;
    bottom: 0;
}
h1 {
    font-size: 2em;
}
h2 {
    font-size: 1.5em;
}
h3 {
    font-size: 1.2em;
}
@media screen and (max-width: 750px) {
    * {
        font-size: 14px;
    }
    
}
@media screen and (max-width: 550px) {
    * {
        font-size: 12px;
    }
}
@media screen and (max-width: 450px) {
    body {
        margin-right: 0;
        margin-bottom: 60px;
    }
}