/*https://coolors.co/231032-3b1c54-512673-7336a4-9a49dc-bd7aee-e3b2ff-eecfff-f0d3ff*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root {
    --background-color: #E8EBF4;
    --text-color: #231032;
    --primary-color: #BD7AEE;
    --secondary-color: #CF631F;
    --accent-color: #D5A8D7;
}
html, body {
    height: 100%;
    width: 100%;
}
#root {
    height: 100%;
    margin-right: 60px;
}