nav {
    background-color: var(--violet);
}
#landing-component {
    width: 100%;
    height: fit-content;
    background-color: var(--background-color);
}
.landing-text {
    padding: 30px;
    text-align: center;
    background-color: var(--dark-violet);
    color: var(--background-color);
    position: relative;
}
svg {
    position: absolute;
}
.landing-text h1 {
    margin-bottom: 30px;
    font-size: 2.5rem;
}
.landing-text p {
    opacity: 0.9;
    width: 60%;
    margin: auto;
    margin-bottom: 30px;;
}
.landing-learn-more {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 100px;
    align-items: center;
}
.landing-learn-more img {
    filter: drop-shadow(-2px 3px 5px rgba(0, 0, 0, 0.3));
}
.landing-buttons button {
    height: 3rem;
    width: 120px;
    background-color: var(--light-purple);
    border: none;
    color: var(--background-color);
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.3);
    border-radius: 25px;
}
.landing-buttons button:hover {
    background-color: var(--purple);
    cursor: pointer;
}
.landing-buttons button:active {
    background-color: var(--violet);
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.3);
}
.key-features {
    margin-top: 150px;
    padding: 30px;
    text-align: center;
}
.key-features h2 {
    font-size: 2rem;
    margin-bottom: 30px;
}
.features {
    display: flex;
    justify-content: space-evenly;
}
.feature {
    max-width: 30%;
}