.forum-section-desc {
    width: 60%;
    margin: 0 auto;
    margin-bottom: 50px;
    text-align: center;
}
#forum-section h1 {
    text-align: center;
}
.post-container {
    max-width: 600px;
    max-height: 650px;
    background: linear-gradient(to top right, var(--primary-color), var(--accent-color));;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.3) 0 0 5px;
    margin: 0 auto;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
}
.post-user-info {
    display: flex;
    width: 100%;
    gap: 20px;
    align-items: center;
    padding: 10px 20px;
}
.post-user-info img {
    border: var(--purple) 2px solid;
    object-fit: cover;
    object-position: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.post-data {
    padding: 5px 20px;
    width: 100%;
    min-height: 100%;
    overflow-y: scroll;
}
.post-data::-webkit-scrollbar {
    width: 10px;
}
.post-data::-webkit-scrollbar-track {
    background: none;
    border-radius: 10px;
}
.post-data::-webkit-scrollbar-thumb {
    background: var(--violet);
    border-radius: 10px;
}
.post-tags-container {
    margin-top: 5px;
    display: flex;
    gap: 10px;
    align-items: center;
}
.post-tags {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    align-items: center;
}
.post-tags span::after {
    content: ',';
}
.post-dream-text {
    padding: 20px 0;
}
.post-actions {
    padding: 10px 20px;
    gap: 10px;
    align-items: center;
    display: flex;
    width: 100%;
}
.like-btn {
    background: none;
    border: none;
    text-align: center;
}
.like-btn:hover {
    cursor: pointer;
}
.like-btn i {
    font-size: 20px;
}
.like-btn i:hover {
    color: rgba(0, 0, 0, 0.7);
}
.post-error-msg {
    color: rgb(148, 43, 43);
}
#forum-section {
    padding: 30px;
    margin-bottom: 5vh;
}
@media screen and (max-width: 750px) {
    .forum-section-desc {
        width: 80%;
    }
}
@media screen and (max-width: 400px) {
    .post-container {
        max-height: 550px;
    }
    .forum-section-desc {
        width: 90%;
    }
}